doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title English for Kids
        link(rel = "stylesheet", href = "css/style.css")
    body
        header.header.header-container
            nav.navigation
                .navigation__toggle(onclick = "menuAnimate()")
                    span
                    span
                    span
                    span
            .toggle
                input(type="checkbox")#switch__input
                label(for="switch__input").toggle__switch
                    span.switch__handle
                    span.switch__train Train
                    span.switch__play Play
        main.main-container#category
            .container__cards
                    .card__container(onmouseleave = "returnCard()")
                        .card
                            .card__card-face
                                .card__word-image
                                    img(src="assets/images/space/rocket.svg" alt="Rocket")
                                .card__info
                                    .info__button(onclick = "flipCard()")
                                        span.button__icon
                                    .info__word Rocket
                                    .sound__button(data-word = "rocket" onclick="playSound()")
                                        span.button__icon
                            .card__card-back
                                .card__word-image
                                    img(src="assets/images/space/rocket.svg" alt="Rocket")
                                .card__info
                                    .info__word Ракета
        script(src="js/script.js")
                       



