doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title English for Kids
        link(href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet")
        link(rel = "stylesheet", href = "css/style.css")
        link(rel="icon", href="assets/favicon.ico" type="image/x-icon")
        script(src="js/script.js")
    body
        header.header.header-container
            nav.navigation
                .navigation__toggle(onclick = "menuAnimate()")
                    span
                    span
                    span
                    span
                ul.menu
                        li.menu__item.active
                            a.menu__item_main(href="index.html") Main
                        li.menu__item
                            a.menu__item_space(href="category.html") Space
                        li.menu__item
                            a.menu__item_food(href="category.html") Food
                        li.menu__item
                            a.menu__item_nature(href="category.html") Nature
                        li.menu__item
                            a.menu__item_animals(href="category.html") Animals
            .toggle
                input(type="checkbox" onclick="bgChange()")#switch__input
                label(for="switch__input").toggle__switch
                    span.switch__handle
                    span.switch__train Train
                    span.switch__play Play
        main.main-container
            .container__cards
                a(href="category.html")
                    .card
                        .card__image.card__image_space
                            img(src="assets/images/categories/space-category.png" alt="space")
                        .card__title Space
                a(href="category.html")
                    .card
                        .card__image.card__image_food
                            img(src="assets/images/categories/food-category.png" alt="food")
                        .card__title Food
                a(href="category.html")
                    .card
                        .card__image.card__image_nature
                            img(src="assets/images/categories/nature-category.png" alt="nature")
                        .card__title Nature
                a(href="category.html")
                    .card
                        .card__image.card__image_animals
                            img(src="assets/images/categories/animals-category.png" alt="animals")
                        .card__title Animals
                            



