.card__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: normal;
  letter-spacing: 0.15em;
  text-align: center;
  margin-bottom: 11px;
  color: #30296f;
  line-height: 2.8rem;
}

.info__word {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: normal;
  letter-spacing: 0.15em;
  text-align: center;
  margin-bottom: 20px;
  color: #30296f;
}
a {
  text-decoration: none;
}