doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title English for Kids
        link(rel="icon", href="../src/assets/favicon.ico" type="image/x-icon")
        link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet")
    body
        header.header.header-container
            nav.navigation
                .navigation__toggle(onclick = "menuAnimate()")
                    span
                    span
                    span
                    span
                ul.menu
                        li.menu__item.active
                            a.menu__item_main(href="index.html") Main
                        li.menu__item
                            a.menu__item_space(href="category.html") Space
                        li.menu__item
                            a.menu__item_food(href="category.html") Food
                        li.menu__item
                            a.menu__item_nature(href="category.html") Nature
                        li.menu__item
                            a.menu__item_animals(href="category.html") Animals
                        li.menu__item
                            a.menu__item_emotions(href="category.html") Emotions
                        li.menu__item
                            a.menu__item_colors(href="category.html") Colors
                        li.menu__item
                            a.menu__item_activities(href="category.html") Activities
                        li.menu__item
                            a.menu__item_city(href="category.html") City
                        li.menu__item
                            a.menu__item_family(href="category.html") Family
                        li.menu__item
                            a.menu__item_body(href="category.html") Body
            .toggle
                input(type="checkbox" onclick="bgChange()")#switch__input
                label(for="switch__input").toggle__switch
                    span.switch__handle
                    span.switch__train Train
                    span.switch__play Play
        main.main-container#main
            .container__cards
                a(href="category.html")
                    .category-card
                        .card__image.card__image_space
                            img(src="../src/assets/images/categories/space-category.png" alt="space")
                        .card__title Space
                a(href="category.html")
                    .category-card
                        .card__image.card__image_food
                            img(src="../src/assets/images/categories/food-category.png" alt="food")
                        .card__title Food
                a(href="category.html")
                    .category-card
                        .card__image.card__image_nature
                            img(src="../src/assets/images/categories/nature-category.png" alt="nature")
                        .card__title Nature
                a(href="category.html")
                    .category-card
                        .card__image.card__image_animals
                            img(src="../src/assets/images/categories/animals-category.png" alt="animals")
                        .card__title Animals
                a(href="category.html")
                    .category-card
                        .card__image.card__image_emotions
                            img(src="../src/assets/images/categories/emotions-category.png" alt="emotions")
                        .card__title Emotions
                a(href="category.html")
                    .category-card
                        .card__image.card__image_colors
                            img(src="../src/assets/images/categories/colors-category.png" alt="colors")
                        .card__title Colors
                a(href="category.html")
                    .category-card
                        .card__image.card__image_activities
                            img(src="../src/assets/images/categories/activities-category.png" alt="animals")
                        .card__title Activities
                a(href="category.html")
                    .category-card
                        .card__image.card__image_city
                            img(src="../src/assets/images/categories/city-category.png" alt="animals")
                        .card__title City
                a(href="category.html")
                    .category-card
                        .card__image.card__image_family
                            img(src="../src/assets/images/categories/family-category.png" alt="animals")
                        .card__title Family
                a(href="category.html")
                    .category-card
                        .card__image.card__image_body
                            img(src="../src/assets/images/categories/body-category.png" alt="animals")
                        .card__title Body

                            

