.temporary-title {
    height: 85vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family:'Poppins', Verdana, sans-serif;
    font-size:50px;

    color:#ffffff;
}
