.container__cards {
  display:flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  align-items:center;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width:320px) and (max-width:960px) {
    padding-top: 0px;
   }

   @media screen and (min-width:959px) {
    padding-top: 15px;
   }
}

.category-card {
  background: white;
  width: 250px;
  display: inline-block;
  margin: 15px;
  border-radius: 19px;
  position: relative;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  transition: 0.5s ease;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 5px 6px 17px #24d7f7;
}

.card__image {
  position: relative;
  height: 180px;
  margin-bottom: 25px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  img {
    width: 300px;
    position: absolute;
    top: -34px;
    left: -22px;
  }
}

.card__image_space {
  background:#346bbc;
}

.card__image_nature {
  background:#a3ffff;
}

.card__image_animals {
  background:#b2f191;
}

.card__image_food {
  background:#ddcbb8;
}

.card__image_emotions {
  background:#938cb3;
}

.card__image_colors {
  background:#f0f0f0;
}

.card__image_activities {
  background:#fc6262;
}

.card__image_city {
  background:#ffd86f;
}

.card__image_family {
  background: #f191a9;
}

.card__image_body {
  background:#8bcee6;
}

.card__image_home {
  background:#beeae8;
}


