.points {
    height: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: -20px;
    display: flex;
    justify-content: flex-end;
    overflow-x: hidden;
    padding-top: 12px;
    margin-bottom: -10px;

    @media screen and (max-width:952px) {
        margin-bottom: 10px;
    }
    @media screen and (min-width:953px) and (max-width:1270px) {
        margin-bottom: 0px;
    }
    @media screen and (min-width:1271px) {
        margin-bottom: -10px;
    }
}

%point {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    flex-shrink: 0;
    background-size: contain;
    background-position: center;
}

.star {
    @extend%point;
    background-image: url("https://svgshare.com/i/KCh.svg");
}
.no-star {
    @extend%point;
    background-image: url("https://svgshare.com/i/KD3.svg");
}