#switch__input {
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .toggle__switch {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 43px;
    background:#24d7f7;
    border-radius: 50px;
    transition: 500ms;
    overflow: hidden;
  }
  
  .switch__handle {
    position: absolute;
    display: inline-block;
    top: 4px;
    left: 4px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;
    overflow: hidden;
    transition: all 500ms ease-out;
  }
  
  #switch__input:checked + .toggle__switch {
    background: #6d5bbe;
  }
  
  #switch__input:checked + .toggle__switch .switch__handle {
    background: #F7FFFF;
    transform: translateX(56px);
  }
  
  #switch__input:checked + .toggle__switch .switch__train {
    display:none;
  }

  #switch__input:checked + .toggle__switch .switch__play {
    color: white;
    position: relative;
    top: 11px;
    left: 15px;
    font-family: "Lato";
    text-transform: uppercase;
    font-size: 16px;
    display: inline;
  }
  
  .switch__train  {
    color: white;
    position: relative;
    top: 12px;
    left: 45px;
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s ease;
  }

  .switch__play {
    display:none;
    transition: 0.5s ease;
  }