$border-radius-size: 14px;

*, *:before, *:after {
  box-sizing: border-box;
}

.container__cards {
  display:flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  align-items:center;

  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  background: white;
  width: 250px;
  display: inline-block;
  margin: 15px;
  border-radius: $border-radius-size + 5;
  position: relative;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  transition: 0.5s ease;
  cursor: pointer;

}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 5px 6px 17px #24d7f7;
}

.card__image {
  position: relative;
  height: 180px;
  margin-bottom: 25px;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
  img {
    width: 300px;
    position: absolute;
    top: -34px;
    left: -22px;
  }
}

.card__image_space {
  background:#346bbc;
}

.card__image_nature {
  background:#a3ffff;
}

.card__image_animals {
  background:#b2f191;
}


.card__image_food {
  background:#ddcbb8;
}


