doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title English for Kids
        link(href="https://fonts.googleapis.com/css?family=Inter:300,400|Pacifico&display=swap&subset=cyrillic" rel="stylesheet")
    body
        header.header.header-container
            nav.navigation
                .navigation__toggle
                    span
                    span
                    span
                    span
                ul.menu
                        li.menu__item.active
                            a.menu__link.main(href="#") Main
                        li.menu__item
                            a.menu__link.space(href="#category") Space
                        li.menu__item
                            a.menu__link.food(href="#category") Food
                        li.menu__item
                            a.menu__link.nature(href="#category") Nature
                        li.menu__item
                            a.menu__link.animals(href="#category") Animals
                        li.menu__item
                            a.menu__link.emotions(href="#category") Emotions
                        li.menu__item
                            a.menu__link.colors(href="#category") Colors
                        li.menu__item
                            a.menu__link.activities(href="#category") Activities
                        li.menu__item
                            a.menu__link.city(href="#category") City
                        li.menu__item
                            a.menu__link.family(href="#category") Family
                        li.menu__item
                            a.menu__link.body(href="#category") Body
            h1.logo 
                a(href="#") Rocket English
            .toggle
                input(type="checkbox")#switch__input
                label(for="switch__input").toggle__switch
                    span.switch__handle
                    span.switch__train Train
                    span.switch__play Play
        main.main-container

                            

