doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1")

        title Rocket English | English for Kids
        link(href="https://fonts.googleapis.com/css?family=Cookie|Inter|Pacifico&display=swap&subset=cyrillic" rel="stylesheet")
    body
        header.header.header-container
            nav.navigation
                .navigation__toggle
                    span
                    span
                    span
                    span
                ul.menu
                        li.menu__item.active
                            a.menu__link.main(href="/") Main
            h1.logo 
                a(href="/") Rocket English
            .toggle
                input(type="checkbox")#switch__input
                label(for="switch__input").toggle__switch
                    span.switch__handle
                    span.switch__train Train
                    span.switch__play Play
        .overlay
        .play-panel
            button(type="button").start-game
            button(type="button").repeat-sound
        main.main-container

                            

